<div class="form form--show-element">
  <label class="form-label" [for]="label">{{ label | titlecase }}</label>
  <input class="form-input" [formControl]="formControl" [type]="typeInput" [id]="label"
    [placeholder]="label | titlecase" required />
  <app-form-errors [control]="formControl"></app-form-errors>
</div>