@use '../../../../assets/scss/mixins/show-element';
@use '../../../../assets/scss/mixins/text-shadow';
@use '../../../../assets/scss/partials/colors';

.form {
  opacity: 0;

  &--show-element {
    @include show-element.show-element();
  }

  &>input:-webkit-autofill {
    //remove white bg color when selected data from list
    transition: background-color 600000s 0s, color 600000s 0s;
  }
}
