<div class="details-events">
  <div class="details-events__header">
    <span>{{ dateName }}</span>
  </div>
  <div class="details-events__list" cdkDropList (cdkDropListDropped)="onDrop($event)">
    <div #event class="list__event-wrapper" cdkDrag  *ngFor="let event of eventDetailsSrv.events; let i = index"
      [ngClass]="{'selected-event': event?.selected}" (click)="selectEvent(i)">
      <div class="list__event">
        <div class="event__dot"></div>
        <div class="event__info">
          <div class="event__header">
            <span *ngIf="event?.done" class="material-icons header__done">task_alt</span>
            <span>{{ event.name }}</span>
            <span class="header__time">| {{ event.timestamp | date: 'shortTime' }}</span>
          </div>
          <div class="event__content">
            <div *ngIf="!event?.selected">
              <span>{{ event.content | slice: 0 : 40 }}</span>
              <div class="event__more" *ngIf="event?.content && event.content.length > 40 && !event?.selected">
                <div *ngFor="let i of 3 | getEmptyArray"></div>
              </div>
            </div>
            <span *ngIf="event?.selected">{{ event.content }}</span>
          </div>
        </div>
      </div>
      <div class="event__options" *ngIf="event?.selected">
        <div class='material-icons option option--done' (click)="onSwitchDoneNotDoneEvent($event, event)">
          <span *ngIf='!event.done'>done</span>
          <span *ngIf='event.done'>remove_done</span>
        </div>
        <span class="material-icons option option--edit" (click)="onEditEvent(event)">edit</span>
        <span class="material-icons option option--delete" (click)="onDeleteEvent(event.id)">delete_forever</span>
      </div>
      <div class="event__divider"></div>
    </div>
  </div>

  <div class="details-events__add-btn">
    <button class="primary-btn primary-btn--active" mat-dialog-close>
      Close
    </button>
    <button class="primary-btn primary-btn--active" (click)="onAddEvent()">
      Add event
    </button>
  </div>

</div>
