@use '../../../../../assets/scss/partials/colors';
@use '../../../../../assets/scss/mixins/dot';

@mixin list-event() {
  .list__event {
    display: flex;
    width: 100%;
    padding-top: 1em;
    padding-left: 1em;

    .event__dot {
      @include dot.dot(1.5em);
      margin-right: .8em;
    }

    .event__info {
      display: flex;
      width: 100%;
      flex-direction: column;
      font-size: 1.5em;
      letter-spacing: .1em;

      .event__header {
        display: flex;
        font-weight: 500;
        margin-bottom: .4em;

        .header__done {
          font-size: 1.1em;
          margin-right: .25em;
          color: colors.$accept-green;
        }

        .header__time {
          font-size: .85em;
          margin-left: .5em;
        }
      }

      .event__content {
        width: 95%;
        padding-bottom: 15px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        >span {
          width: 100%;
          overflow-wrap: break-word;
        }
      }

      .event__more {
        display: flex;
        flex-direction: row;
        transform: translateY(.6em);

        >div {
          @include dot.dot(.25em);
          margin-right: .2em;
        }

        >div:nth-child(1) {
          margin-left: .25em;
        }
      }

    }
  }
}

@mixin event-options(){
  .event__options {
    display: flex;
    justify-content: flex-end;
    margin-right: 2em;

    .option {
      font-size: 2em;
      margin-left: .3em;
      cursor: pointer;

      &--read-more {
        color: colors.$light-blue;
      }

      &--done {
        color: colors.$accept-green;
      }

      &--edit {
        color: colors.$dark-blue;
      }

      &--delete {
        color: colors.$error-red-color;
      }
    }
  }
}




.details-events {
  width: 70vw;
  min-width: 650px;
  height: 70vh;

  &__header {
    background-color: colors.$primary-yellow-color;
    height: 8%;

    >span {
      display: block;
      height: 100%;
      padding: .5em 1em;

      font-size: 1.5em;
      font-family: 'Work Sans', sans-serif;
      letter-spacing: .1em;
    }
  }

  &__list {
    display: block;
    width: 100%;
    height: 70%;
    margin-bottom: 40px;
    overflow-y: auto;

    .list__event-wrapper {
      width: 100%;
      overflow: hidden;
      cursor: pointer;
      border-radius: 4px;

      @include list-event;

      @include event-options;

      .event__divider {
        width: 100%;
        height: 1px;
        background-color: colors.$primary-yellow-color;
        margin-top: 1em;
      }
    }

    .selected-event {
      cursor: grab;
      -webkit-box-shadow: 0px 35px 61px 22px rgba(142, 142, 142, 1);
      -moz-box-shadow: 0px 35px 61px 22px rgba(142, 142, 142, 1);
      box-shadow: 0px 35px 61px 22px rgba(142, 142, 142, 1);
    }

  }

  &__add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    >button {
      width: 40%;
      margin: 0 20px;
    }
  }
}



// drag and drop
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;

  background-color: white;
  box-shadow: 3px 3px 20px 0px rgba(colors.$primary-yellow-color, .4),
              3px 3px 30px 0px rgba(colors.$primary-yellow-color, .3);

  @include list-event;
  @include event-options;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list__event-wrapper:last-child {
  border: none;
}

.details-events__list.cdk-drop-list-dragging .list__event-wrapper:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
