<div #dayRef class='day' [class.day--sunday]='isSunday' [class.day--inacive]='!day.isActive'
  (click)='day.isActive && showDetails()'>
  <app-events *ngIf='day.events as events' [events]='events | slice :0 :maxNumberOfEventsToDisplay'></app-events>
  <div class="day__dots-more" *ngIf="_showDots">
    <div *ngFor="let i of 3 | getEmptyArray"></div>
  </div>
  <span class='day__number'> {{ dayNumber }} </span>
</div>