@use '../../../../../assets//scss/mixins/dot';


.day {
  //position
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;

  background-color: #ffffff;
  border-right: 1px solid rgb(177, 175, 175);
  border-bottom: 1px solid rgb(177, 175, 175);
  font-size: 1em;
  cursor: pointer;

  &--inacive {
    background-color: #eceaea;
    cursor: default;
  }

  &--sunday {
    border-right: none;
  }

  &__dots-more {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    transform: translateY(.6em);

    >div {
      @include dot.dot(.4em);
      margin-right: .2em;
    }
  }

  &__number {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 1em;
    padding-bottom: .25em;
    font-size: 1em;
    font-family: 'Work Sans', sans-serif;
  }
}