<div *ngIf="control.invalid && (control.dirty || control.touched)" class="form-error">
  <div *ngIf="control.errors?.['required']">{{ requiredField }}</div>
  <div *ngIf="control.errors?.['emailRegex']">{{ invalidEmailMsg }}</div>
  <div *ngIf="control.errors?.['minlength']">{{ passwordMinLengthMsg }}</div>
</div>