@use './../../../../assets/scss/mixins/mobile';


.form-error {
  >div {
    font-size: 1.1rem;
    color: #ff0000;
    margin-bottom: 1.5em;
  }

  @include mobile.mobile {
    >div {
      font-size: .9rem;
    }
  }
}
