<app-generic-form [formType]="'singIn'" (formSubmit)="onLogin()" [title]="'Sign In'" [welcomeMsg]="'Welcome back'">
  <div class="login-form__forgot-password login-form__forgot-password--show-element">
    <span [routerLink]="['/change-password-send-mail']">Forgot password?</span>
  </div>
</app-generic-form>