@use '../../../../assets/scss/mixins/show-element';
@use '../../../../assets/scss/mixins/text-shadow';
@use '../../../../assets/scss/partials/colors';


.login {
  &-form {
    &__forgot-password {
      display: flex;
      justify-content: flex-end;
      padding: 10px 0 20px;

      &--show-element {
        @include show-element.show-element();
      }

      >span {
        color: colors.$primary-yellow-color;
        letter-spacing: .15em;
        cursor: pointer;

        &:hover {
          @include text-shadow.text-shadow();
        }
      }
    }
  }
}
