@use './partials/button';
@use './partials/colors';
@use './partials/form_label';
@use './partials/form-input';

.input-error {
  border-bottom-color: colors.$error-red-color !important;
}

.form-error-msg {
  text-shadow: 2px 2px 4px #000000;
  color: colors.$error-red-color;
  font-size: 1.5em;
  margin-bottom: 1.5em !important;
}
