@use '../../../../assets/scss/partials/colors';
$loading-bar-color: linear-gradient(to right, rgb(14, 76, 158), rgb(209, 34, 22));

@mixin loading-bar($width) {
  content: "";
  display: block;
  width: $width;
  height: .75em;
  background-image: $loading-bar-color;
  border-radius: 4px;
}

@mixin move-option($animationName, $startX, $startY, $endX, $endY) {

  @keyframes #{$animationName} {
    0% {
      transform: translate($startX, $startY);
    }

    100% {
      transform: translate($endX, $endY);
    }
  }

  animation: #{$animationName} .5s forwards ease-in-out;
}

.main {
  background-image: linear-gradient(to right, rgb(80, 130, 196), rgb(7, 16, 99));
  width: 100vw;
  height: calc(100vh - 3rem);
  position: relative;
  overflow: hidden;


  // SELECT OPTIONS
  &__select-options {
    z-index: 5;
    width: 75vw;
    height: 7vh;
    min-height: 70px;
    position: relative;
    left: 50%;
    top: calc(25px + 4%);
    transform: translate(-50%, -50%);

    .option {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      width: 33%;
      height: 90%;
      background-color: colors.$primary-yellow-color;
      box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 5px rgba(248, 2, 2);
      border-bottom: .75em solid white;
      border-radius: 4px;

      &--left {
        z-index: 5;
        @include move-option('from-center-to-left', -50%, -50%, -140%, -32%);
      }

      &--to-center-from-left {
        @include move-option('from-left-to-center', -140%, -32%, -50%, -50%);
      }

      &--center {
        z-index: 6;

        &:after {
          @include loading-bar(100%);
        }
      }

      &--to-center-from-right {
        @include move-option('from-right-to-center', 60%, -32%, -50%, -50%);
      }

      &--right {
        z-index: 5;
        @include move-option('from-center-to-right', -50%, -50%, 40%, -32%);
      }

      >span {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        padding-top: .4em;

        font-size: calc(10px + .8vw);
        color: #5963F0;
        font-weight: 700;

        >p {
          position: relative;

          &:before {
            content: '';
            left: -.4em;
            top: -.4em;
            width: .5em;
            height: .5em;
            border-top: 2px solid #ffffff;
            border-left: 2px solid #ffffff;
            position: absolute;
          }

          &:after {
            content: '';
            right: -.4em;
            bottom: -.4em;
            width: .5em;
            height: .5em;
            border-bottom: 2px solid #ffffff;
            border-right: 2px solid #ffffff;
            position: absolute;
          }

        }
      }

      &:hover {
        cursor: pointer;
        box-shadow: 0 0 15px 2px rgb(255, 255, 255);

        &:after {
          @include loading-bar(0%);
          animation: loading-bar-animation .5s .1s forwards ease-out;
        }

        >span {
          font-size: calc(11px + .8vw);
        }
      }
    }

    @media only screen and (max-width: 768px) {
      width: 90vw;
    }
  }


  // SHOW OPTION
  &__show-option {
    z-index: 5;
    width: 80vw;
    height: 78vh;
    min-height: 70px;
    position: relative;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);

    @media only screen and (max-width: 768px) {
      width: 90vw;
    }
  }



  // BACKGROUND
  &__bg-animation {
    z-index: 1;

    &-elements {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;

      li {
        z-index: 4;
        position: absolute;
        display: block;
        list-style: none;
        left: -70px;
        background: rgba(colors.$primary-yellow-color, 0.755);
        animation: flowing-element 25s linear infinite;
        border-radius: 15%;
        box-shadow: 0 0 35px rgb(255, 255, 255), 0 0 35px rgba(248, 2, 2);

        @mixin set-element-bg-size($width, $min-width, $max-width, $height, $min-height, $max-height) {
          width: $width;
          min-width: $min-width;
          max-width: $max-width;
          height: $height;
          min-height: $min-height;
          max-height: $max-height;
        }

        &:hover {
          background: rgba(colors.$primary-yellow-color, 0.855);
          cursor: pointer;
        }

        &:active {
          background: rgba(colors.$primary-yellow-color, 1);
        }

        &:nth-child(1),
        &:nth-child(2) {
          top: 35%;
          @include set-element-bg-size(3vw, 20px, 40px, 3vw, 20px, 40px);
          animation-delay: 1s;
        }

        &:nth-child(2) {
          animation-delay: 10s;
        }

        &:nth-child(3),
        &:nth-child(4) {
          top: 45%;
          @include set-element-bg-size(2.5vw, 15px, 30px, 2.5vw, 15px, 30px);
          animation-delay: 4s;
        }

        &:nth-child(4) {
          animation-delay: 14s;
        }

        &:nth-child(5),
        &:nth-child(6) {
          top: 55%;
          @include set-element-bg-size(3vw, 20px, 40px, 3vw, 20px, 40px);
          border-radius: 45%;
          animation-delay: 7s;
        }

        &:nth-child(6) {
          animation-delay: 18s;
        }

        &:nth-child(7),
        &:nth-child(8) {
          top: 65%;
          @include set-element-bg-size(3vw, 20px, 40px, 3vw, 20px, 40px);
          border-radius: 45%;
          animation-delay: 3s;
        }

        &:nth-child(8) {
          animation-delay: 12s;
        }

        &:nth-child(9),
        &:nth-child(10) {
          top: 75%;
          @include set-element-bg-size(2.5vw, 17px, 35px, 2.5vw, 17px, 35px);
          animation-delay: 9s;
        }

        &:nth-child(10) {
          animation-delay: 20s;
        }
      }
    }
  }
}

@mixin transform-flowing-element($translateX, $translateY, $rotate) {
  transform: translateX($translateX) translateY($translateY) rotate($rotate);
}

@keyframes flowing-element {

  0% {
    @include transform-flowing-element(0, 0, 0);
    opacity: 1;
  }

  10% {
    @include transform-flowing-element(10vw, 2vh, 60deg);
  }

  20% {
    @include transform-flowing-element(20vw, 4vh, 120deg);
  }

  30% {
    @include transform-flowing-element(30vw, 6vh, 180deg);
  }

  40% {
    @include transform-flowing-element(40vw, 8vh, 240deg);
  }

  50% {
    @include transform-flowing-element(50vw, 6vh, 300deg);
  }

  60% {
    @include transform-flowing-element(60vw, 4vh, 360deg);
  }

  70% {
    @include transform-flowing-element(70vw, 2vh, 420deg);
  }

  80% {
    @include transform-flowing-element(81vw, 0, 480deg);
  }

  90% {
    @include transform-flowing-element(93vw, 1.5vh, 540deg);
  }

  100% {
    @include transform-flowing-element(105vw, 3vh, 600deg);
    opacity: 0.2;
  }
}

@keyframes loading-bar-animation {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}