<div class="main">

  <div class="main__select-options">
    <div *ngFor="let option of options" class="option" (click)="moveOptions(option.optionId)"
      [class.option--left]="option.currentPosition === position.LEFT"
      [class.option--right]="option.currentPosition === position.RIGHT"
      [class.option--center]="option.currentPosition === position.CENTER"
      [class.option--to-center-from-left]="option.currentPosition === position.CENTER && option.previousPosition === position.LEFT"
      [class.option--to-center-from-right]="option.currentPosition === position.CENTER && option.previousPosition === position.RIGHT">
      <span>
        <p>{{option.name}}</p>
      </span>
    </div>
  </div>

  <div class="main__show-option">
    <!-- <app-calendar *ngIf="options[0].currentPosition === position.CENTER"></app-calendar> -->
    <app-calendar *ngIf="true"></app-calendar>
  </div>

</div>
