@mixin show-element {
  animation: show-element-animation 1.5s 0s both cubic-bezier(.09, .87, .4, 1.16);
}

@keyframes show-element-animation {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }

  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
