@use '../../../../assets/scss/partials/colors';


.bg-animation {
  z-index: 1;

  &-elements {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    li {
      z-index: 4;
      position: absolute;
      display: block;
      list-style: none;
      left: -70px;
      background: rgba(colors.$primary-yellow-color, 0.755);
      animation: flowing-element 25s linear infinite;
      border-radius: 15%;
      box-shadow: 0 0 35px #ffffff, 0 0 35px #f80202;

      @mixin set-element-bg-size($width, $min-width, $max-width, $height, $min-height, $max-height) {
        width: $width;
        min-width: $min-width;
        max-width: $max-width;
        height: $height;
        min-height: $min-height;
        max-height: $max-height;
      }

      &:hover {
        background: rgba(colors.$primary-yellow-color, 0.855);
        cursor: pointer;
      }

      &:active {
        background: rgba(colors.$primary-yellow-color, 1);
      }

      &:nth-child(1),
      &:nth-child(2) {
        top: 35%;
        @include set-element-bg-size(3vw, 20px, 40px, 3vw, 20px, 40px);
        animation-delay: 1s;
      }

      &:nth-child(2) {
        animation-delay: 10s;
      }

      &:nth-child(3),
      &:nth-child(4) {
        top: 45%;
        @include set-element-bg-size(2.5vw, 15px, 30px, 2.5vw, 15px, 30px);
        animation-delay: 4s;
      }

      &:nth-child(4) {
        animation-delay: 14s;
      }

      &:nth-child(5),
      &:nth-child(6) {
        top: 55%;
        @include set-element-bg-size(3vw, 20px, 40px, 3vw, 20px, 40px);
        border-radius: 45%;
        animation-delay: 7s;
      }

      &:nth-child(6) {
        animation-delay: 18s;
      }

      &:nth-child(7),
      &:nth-child(8) {
        top: 65%;
        @include set-element-bg-size(3vw, 20px, 40px, 3vw, 20px, 40px);
        border-radius: 45%;
        animation-delay: 3s;
      }

      &:nth-child(8) {
        animation-delay: 12s;
      }

      &:nth-child(9),
      &:nth-child(10) {
        top: 75%;
        @include set-element-bg-size(2.5vw, 17px, 35px, 2.5vw, 17px, 35px);
        animation-delay: 9s;
      }

      &:nth-child(10) {
        animation-delay: 20s;
      }
    }
  }
}


@mixin transform-flowing-element($translateX, $translateY, $rotate) {
  transform: translateX($translateX) translateY($translateY) rotate($rotate);
}

@keyframes flowing-element {

  0% {
    @include transform-flowing-element(0, 0, 0);
    opacity: 1;
  }

  10% {
    @include transform-flowing-element(10vw, 2vh, 60deg);
  }

  20% {
    @include transform-flowing-element(20vw, 4vh, 120deg);
  }

  30% {
    @include transform-flowing-element(30vw, 6vh, 180deg);
  }

  40% {
    @include transform-flowing-element(40vw, 8vh, 240deg);
  }

  50% {
    @include transform-flowing-element(50vw, 6vh, 300deg);
  }

  60% {
    @include transform-flowing-element(60vw, 4vh, 360deg);
  }

  70% {
    @include transform-flowing-element(70vw, 2vh, 420deg);
  }

  80% {
    @include transform-flowing-element(81vw, 0, 480deg);
  }

  90% {
    @include transform-flowing-element(93vw, 1.5vh, 540deg);
  }

  100% {
    @include transform-flowing-element(105vw, 3vh, 600deg);
    opacity: 0.2;
  }
}
