<app-generic-form [formType]="'change-password'" [title]="'Change password'" (formSubmit)="onChangePassword()">
  <div *ngIf="!oobCode || resendEmailOptionVisible" class="confirm-change-password-form__resend-email confirm-change-password-form__resend-email--show-element">
    <span [routerLink]="['/change-password-send-mail']">Resend the email</span>
  </div>
</app-generic-form>
