<div class="handle-event">
  <div class="handle-event__header">
    <span>{{ data.dateName }}</span>
  </div>

  <form *ngIf="!editOnlyTime" class="handle-event__form" [formGroup]="handleEventSrv.handleEventForm">
    <label class="form-label" for="eventName">Event name</label>
    <input class="form-input" maxlength="40" formControlName="eventName" type="text" id="eventName"
      placeholder="Event name" required />
    <div class="max-length-info">
      <span>{{ handleEventSrv.eventNameLegnth }}/40</span>
    </div>
    <label class="form-label" for="eventContent">Content</label>
    <textarea class="form-input" maxlength="200" formControlName="eventContent" type="text" id="eventContent"
      placeholder="Content">
    </textarea>
    <div class="max-length-info">
      <span>{{ handleEventSrv.eventContentLegnth }}/200</span>
    </div>
    <label class="form-label" for="eventTime">Time</label>
    <input class="form-input form-input--time" formControlName="eventTime" type="time" id="eventTime"
      placeholder="Event time" required />
  </form>

  <form *ngIf="editOnlyTime" class="handle-event__form" [formGroup]="handleEventSrv.handleEventForm">
    <label class="form-label" for="eventTime">Time</label>
    <input class="form-input form-input--time" formControlName="eventTime" type="time" id="eventTime"
      placeholder="Event time" required />
  </form>

  <div class="handle-event__btns">
    <button class="primary-btn primary-btn--active" mat-dialog-close>
      Close
    </button>
    <button (click)="onHandleEvent()" class="primary-btn" *ngIf="handleEventSrv.handleEventForm as form"
      [ngClass]="{'primary-btn--active' : form.valid && form.dirty}"
      [disabled]="form.invalid || !form.dirty">
      {{ submitBtnName }}
    </button>
  </div>
</div>
