@use '../../../../../assets/scss/partials/colors';

@mixin dot($radius, $color: colors.$primary-yellow-color) {
  width: $radius;
  height: $radius;
  border-radius: 50%;
  background-color: $color;
}

.handle-event {
  height: 100%;

  &__header {
    background-color: colors.$primary-yellow-color;
    height: 40px;
    margin-bottom: 4%;

    >span {
      display: block;
      height: 100%;
      padding: .5em 1em;

      font-size: 1.5em;
      font-family: 'Work Sans', sans-serif;
      letter-spacing: .1em;
    }
  }

  &__form {
    margin: 2em 35px;

    >label,
    input,
    textarea {
      color: colors.$dark-blue;
    }

    >label {
      font-size: 2em;
      text-shadow: none;
    }

    >textarea {
      height: 130px;
      resize: none;
    }

    .max-length-info {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      color: colors.$dark-blue;
      font-size: 1.25em;
    }

    .form-input--time {
      width: 150px;
    }

  }

  &__btns {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    >button {
      width: 40%;
      margin: 0 20px;
    }
  }
}
