@use '../../../../../assets/scss/partials/colors';


.day-names {
  display: inline-block;
  width: calc(100% / 7);
  text-align: center;
  padding: .5em 0;

  font-size: 1.2em;
  font-family: 'Work Sans', sans-serif;
  background-color: colors.$primary-yellow-color;
  letter-spacing: .1em;

  &:first-child {
    border-top-left-radius: 5px;
  }

  &:last-child {
    border-top-right-radius: 5px;
  }

  @media only screen and (max-width: 1024px) {
    font-size: 1em;
  }
}
