<div class="notification">
  <div class="notification-title">
    {{ title }}
  </div>
  <div class="notification-icon" [ngClass]="{'notification-icon--waiting' : mode === 'waiting'}">
    <span *ngIf="mode === 'information'" class="material-icons">help</span>
    <span *ngIf="mode === 'confirm' || mode === 'error'" class="material-icons">error</span>
    <span *ngIf="mode === 'waiting'" class="material-icons">hourglass_top</span>
    <span *ngIf="mode === 'lostConnection'"></span>
  </div>
  <div class="notification-message">
    <p>{{ message }}</p>
  </div>
  <div *ngIf="mode === 'confirm'" class="notification-actions">
    <button class="primary-btn primary-btn--active" (click)="onClose(false)">NO</button>
    <button class="primary-btn primary-btn--active" (click)="onClose(true)">YES</button>
  </div>
  <div *ngIf="mode === 'information' || mode === 'error' || mode === 'lostConnection'" class="notification-actions">
    <button class="primary-btn primary-btn--active" mat-dialog-close>OK</button>
  </div>
</div>
