@use '../../../../assets/scss/mixins/show-element';
@use '../../../../assets/scss/partials/colors';


.notification {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 14px 25px;
  letter-spacing: .2em;

  &-title {
    font-size: 2em;
  }

  &-icon {
    margin-top: 20px;

    >mat-icon,
    span {
      color: colors.$light-blue;
      transform: scale(2.5);
      animation: load-icon .5s cubic-bezier(.2, .24, .31, 1.8);
    }

    &--waiting {

      >mat-icon,
      span {
        animation: load-icon 1.25s cubic-bezier(.2, .24, .31, 1.8) infinite alternate;
      }
    }
  }

  &-message {
    margin: 20px 0;
    font-size: 1.5em;
    line-height: 1.2em;

    >p {
      text-align: center;
    }
  }

  &-actions {
    display: flex;
    flex-direction: row;

    >button {
      margin: 0 20px;
      padding: 10px 20px;
    }
  }
}

@keyframes load-icon {
  0% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(0deg) scale(2.7);
  }

  100% {
    transform: scale(2.5);
  }
}