@use './colors';


.primary-btn {
  width: 100%;
  position: relative;
  overflow: hidden;

  border: none;
  border-radius: 3px;
  padding: .4rem 0;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: .1em;
  color: #091374;

  transition: color 1s .4s;
  z-index: 1;

  @mixin after-before-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;

    z-index: -1;
    transition: transform .2s;
  }

  &::before {
    content: '';
    @include after-before-btn();
    left: -100%;
    background-color: colors.$primary-yellow-color;
    border: none;
  }

  &::after {
    content: '';
    @include after-before-btn();
    right: -100%;
    border-bottom: 4px solid #ffffff;
    border-radius: 3px;
  }

  &--active {
    &:hover {
      cursor: pointer;
      color: #130e44;

      &::before {
        transform: translateX(100%);
      }

      &::after {
        transform: translateX(-100%);
      }
    }
  }
}