@use './colors';
@use './../mixins/mobile';


.form-input {
  margin: 1rem 0 .5rem;
  width: 100%;
  height: 40px;
  border: none;
  background-color: transparent !important;
  border-bottom: 2px solid #000000;
  font-size: 1.4rem;
  color: colors.$primary-yellow-color;
  letter-spacing: .1em;

  &:hover {
    cursor: text;
    box-shadow: 0px 14px 12px -12px #ffffff;
  }

  @include mobile.mobile {
    font-size: 1rem;
  }
}
