@use './colors';
@use './../mixins/text-shadow';
@use './../mixins/mobile';


.form-label {
  display: block;
  margin-top: .5rem;
  font-size: 2rem;
  color: colors.$primary-yellow-color;
  text-shadow: 2px 2px 15px #ff0000;
  letter-spacing: .1em;

  &:hover {
    cursor: pointer;
    @include text-shadow.text-shadow();
  }

  @include mobile.mobile {
    font-size: 1.4rem;
  }
}
