@use '../../../../assets/scss/mixins/show-element';
@use '../../../../assets/scss/mixins/text-shadow';
@use '../../../../assets/scss/partials/colors';
@use '../../../../assets/scss/mixins/mobile';


.auth {
  display: flex;
  justify-content: center;
  width: 100vw;
  //app-bar -> 3rem
  height: calc(100vh - 3rem);

  background-image: linear-gradient(to right, colors.$light-blue, colors.$dark-blue);

  &-welcome {
    position: absolute;
    top: 15%;

    >span {
      font-size: 2rem;
      color: #ffffff;
      text-shadow: 2px 2px 15px #ff0000;
      letter-spacing: .1em;

      &:hover {
        @include text-shadow.text-shadow();
      }
    }

    &--show-element {
      @include show-element.show-element();
    }
  }

  &-form {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 20%;

    >* {
      z-index: 5;
      width: 350px;
    }

    &__title {
      display: flex;
      justify-content: center;
      margin: 1em 0 1.5em 0;

      font-size: 2rem;
      color: #ffffff;
      text-shadow: 2px 2px 15px #ff0000;
      letter-spacing: .1em;

      &--show-element {
        @include show-element.show-element();
      }

      &:hover {
        @include text-shadow.text-shadow();
      }
    }

    &__btn {
      opacity: 0;

      &--show-element {
        @include show-element.show-element();
      }
    }
  }

}

@include mobile.mobile {
  .auth {
    &-welcome {
      top: 13%;

      >span {
        font-size: 1.4rem;
      }
    }

    &-form {
      top: 18%;

      >* {
        width: 275px;
      }

      &__title {
        font-size: 1.4rem;
      }
    }
  }
}
