<div class="auth">
  <div class="auth-welcome auth-welcome--show-element" *ngIf="welcomeMsg">
    <span>{{ welcomeMsg }}</span>
  </div>
  <div class="auth-form">
    <div class="auth-form__title auth-form__title--show-element">{{ title }}</div>
    <form [formGroup]="formSrv.form" (ngSubmit)="onSubmit()">
      <app-form-input *ngFor="let field of formFields" [inputData]="field"></app-form-input>
      <ng-content></ng-content>
      <button type="submit" class="primary-btn auth-form__btn auth-form__btn--show-element"
        [ngClass]="{'primary-btn--active': formSrv.form.valid}"
        [disabled]="this.formSrv.form.touched && formSrv.form.invalid">
        Continue
      </button>
    </form>
  </div>
</div>