<div class='calendar'>

  <button (click)='calendarSrv.previousMonth()' class='calendar__btn calendar__btn--left'>
    <span class='btn__arrow btn__arrow--right'></span>
  </button>

  <div class='calendar__main-box'>
    <div class='main-box__month-name'>{{ calendarSrv.monthName }} {{ calendarSrv.year }}</div>

    <div class='main-box__planner'>
      <app-day-names></app-day-names>

      <div class='planner__week' *ngFor='let week of calendarSrv.numberOfWeeks | getEmptyArray; let weekNumber = index'>

        <div #dayRef class='planner__day'
          *ngFor='let day of calendarSrv.numberDaysWeek | getEmptyArray; let dayNumber = index'>
          <app-day [day]='calendarSrv.monthDisplayed.days[dayNumber + (weekNumber * calendarSrv.numberDaysWeek)]'
            [maxNumberOfEventsToDisplay]="maxNumberOfEventsToDisplay"
            [firstDayNumber]='calendarSrv.monthDisplayed.firstDayNumber' [month]="calendarSrv.monthNumber"
            [year]="calendarSrv.year">
          </app-day>
        </div>

      </div>

    </div>

  </div>

  <button (click)='calendarSrv.nextMonth()' class='calendar__btn calendar__btn--right'>
    <span class='btn__arrow btn__arrow--left'></span>
  </button>

</div>