@use '../../../../assets/scss/partials/colors';


.calendar {
  height: calc(100% - 3rem);
  display: flex;
  flex-direction: row;

  &__main-box {
    width: 100%;

    .main-box__month-name {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: .5em 0;

      font-family: 'Work Sans', sans-serif;
      color: #ffffff;
      letter-spacing: .1em;
      font-size: 1.4em;
    }

    .main-box__planner {
      display: flex;
      width: 100%;
      flex-direction: column;
      height: 95%;

      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      box-shadow: 0 0 5px #ffffff, 0 0 5px #f80202;

      .planner__week {
        display: flex;
        height: 20%;
        width: 100%;

        .planner__day {
          width: calc(100% / 7);
          overflow: hidden;
        }
      }
    }
  }

  &__btn {
    display: block;
    height: 8vh;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    background-color: colors.$primary-yellow-color;
    border: none;
    cursor: pointer;

    &--left {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    &--right {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &:hover {
      .btn__arrow {
        border-bottom: 2vh solid #ffffff;
      }
    }

    .btn__arrow {
      display: block;
      border-left: 2vh solid transparent;
      border-right: 2vh solid transparent;
      border-bottom: 2vh solid #5963F0;

      &--left {
        transform: rotate(90deg);
      }

      &--right {
        transform: rotate(-90deg);
      }
    }

  }

}
