<div class='event' *ngFor='let event of events'>
  <p class='event__name'>
    <span *ngIf="event?.done" class="material-icons event-done">task_alt</span>
    <span>{{ event.name }}</span>
  </p>
</div>
