@use '../../../../../assets/scss/partials/colors';
$colorsEventBg: #5963F0 #434bb8 #5e66e2;

.event {
  margin: 1% 2%;
  background-color: nth($colorsEventBg, 1);
  color: white;
  border-radius: 7px;

  &:nth-child(2) {
    background-color: nth($colorsEventBg, 2);
  }

  &:nth-child(3) {
    background-color: nth($colorsEventBg, 3);
  }

  &__name {
    display: flex;

    margin: 0;
    padding: .2em .75em;

    &:hover {
      background-color: colors.$primary-yellow-color;
      color: #5963F0;
      font-weight: 900;
      border-radius: 7px;

      .event-done {
        color: white;
      }
    }

    .event-done {
      font-size: 1.25em;
      align-self: center;
      margin-right: .25em;
      color: colors.$event-done;
    }
  }
}