@use '../../../../assets/scss/partials/colors';
@use '../../../../assets/scss/mixins/mobile';

.app-bar {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 3rem;
  overflow: hidden;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  background-color: colors.$primary-yellow-color;
  border-bottom: 5px solid #ffffff;

  >ul {
    >li {
      list-style-type: none;
      cursor: pointer;

      &:hover {
        transform: scale(1.04);
      }

      &:nth-last-child(1) {
        margin-right: 2rem;
      }

      >a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
        letter-spacing: .15em;
        font-weight: 700;
        text-shadow: 2px 2px 4px #000000;
      }
    }
  }

  @include mobile.mobile {
    >ul {
      >li {
        >a {
          font-size: 1.2rem;
        }
      }
    }
  }
}
