<div class="app-bar">
  <ul>
    <li *ngIf="urlPath === pathNames.login || urlPath === ''">
      <a [routerLink]="['/registration']">Sign Up</a>
    </li>
    <li *ngIf="urlPath === pathNames.registration || urlPath === pathNames.changePasswordSendMail || urlPath === pathNames.confirmChangePassword">
      <a [routerLink]="['']">Sign In</a>
    </li>
    <li *ngIf="urlPath === pathNames.calendar">
      <a (click)="onLogout()">Logout</a>
    </li>
  </ul>
</div>
